<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="https://img.freepik.com/vector-gratis/video-juegos-neon-controlador-texto_1262-16218.jpg?w=1380&t=st=1688337776~exp=1688338376~hmac=e9b0d8b1b391c987e9ea159e9e16e77333a67104ba3c76098ac9e210f38f4cdc">
    <p>Welcome to <%= title %></p>
  </body>
</html>
